modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start NeoCash Bot"

[[workflows.workflow]]
name = "Start NeoCash Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/api-server && node bot/index.js"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 22133
externalPort = 3000

[userenv]

[userenv.shared]
SUPABASE_DB_URL = "postgresql://postgres.yvbepkepcpxhjdrloszp:IwX7her3lmCOVDfz@aws-1-eu-west-3.pooler.supabase.com:6543/postgres"
SUPABASE_URL = "https://yvbepkepcpxhjdrloszp.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2YmVwa2VwY3B4aGpkcmxvc3pwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MDYyMzEsImV4cCI6MjA5Mzk4MjIzMX0.UQ3TnaET5UPI8LCJ4jVxc6II_WpR3UCQW70o_NZj298"
BOT_TOKEN = "8383517885:AAHKdtt3opaNxLX4Um3ZgHhaw7SLp2bODNw"
ADMIN_GROUP_ID = "-1003973479988"

[nix]
channel = "stable-25_05"
